{% extends 'base.html' %}

{% block contenido %}

<div class="row align-items-center mt-5 g-0">

    <!-- TEXTO -->
    <div class="col-12 col-md-7 text-center text-md-start">
        <h2>
            Hola, soy <b>Ednovi Yhosiney Gutierrez Choquehuanca</b>
        </h2>
        <p class="lead">Estudiante de Ingeniería de Sistemas</p>
    </div>

    <!-- IMAGEN -->
    <div class="col-12 col-md-5 text-center mt-3 mt-md-0">
        <img src="{{ url_for('static', filename='images.jpg') }}" class="perfil img-fluid">
    </div>

</div>

<h3 class="mt-5 text-center text-md-start">Habilidades</h3>

<div class="row mt-3 text-center">

  <div class="col-12 col-md-4 mb-3">
    <div class="card p-3 html">HTML</div>
  </div>

  <div class="col-12 col-md-4 mb-3">
    <div class="card p-3 css">CSS</div>
  </div>

  <div class="col-12 col-md-4 mb-3">
    <div class="card p-3 python">Python</div>
  </div>

</div>

<h3 class="mt-5 text-center text-md-start">Proyectos</h3>

<div class="row mt-3">

  <div class="col-12 col-md-6 mb-3">
    <div class="card p-3 proyecto1">
      <h5>🛒 Sistema de Carrito</h5>
      <p>Aplicación web con Flask</p>
    </div>
  </div>

  <div class="col-12 col-md-6 mb-3">
    <div class="card p-3 proyecto2">
      <h5>📍 Sistema Mapa Web SIG-747</h5>
      <p>Visualización de coordenadas</p>
    </div>
  </div>

</div>

{% endblock %}